.main-container {
  display: flex;
  /* background: red; */
  width: 100%;
}
.main-container .content {
  flex-basis: 100%;
}
main.page_wrapper .main-container {
  margin-left: 20px;
}
main.page_wrapper {
  display: flex;
}
