.main-container {
  display: flex;
  /* background: red; */
  width: 100%;
}
.main-container .content {
  flex-basis: 100%;
}
main.page_wrapper .main-container {
  padding-left: 20px;
  background: #eeebee;
}
main.page_wrapper {
  display: flex;
}
.menu {
  box-shadow: 0 0 4px 2px #c1c1c1;
  position: relative;
}