.menu .menu-drawer > div {
    position: initial !important;
    flex: 1;
}
.menu-drawer  {
    display: flex;
    overflow: hidden;
    transition: 300ms;
    width: 200px;
}

.list-item > div {
    height: 46px;
}

.menu > .open {
    width: 200px;
}

.menu > .closed {
    width: 70px;
}
